.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    min-height: 100vh;
    padding-top: 10rem;
}

.row {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.modal-btn {
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 10px;
    background-color:#6aaa64;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-btn:hover {
    background-color: #4ba842
}

.lost-modal-btns {
    display: flex;
    gap: 2rem;
}

.lost-modal-btns > * {
    background-color: #c9b458;
}

.lost-modal-btns > *:hover {
    background-color: #c8ae3b;
}

.label {
    display: block;
}

.input {
    width: 20rem;
    height: 4rem;
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.box {
    width: 4rem;
    height: 4rem;
    border: 2px solid #d3d6da;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
